@{
    ViewData["Title"] = "Ínicio";
}
<partial name="_Carousel" />

<div class="mt-5">
    <h3 class="text-center">Os <span class="text-danger">PREFERIDOS</span> da semana! 🔥</h3>
   @*  <p>Tá com fome????</p> *@
</div>